.aura-element {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50vw;
    height: 50vh;
    transform-origin: center top;
    transform: translateX(-50%) scale(1);
    background-color: black;
    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
    }
    &::after {
        width: 100vw;
        height: rem(2);
        background-color: green;
        z-index: 0;
    }
}
.aura-element.aura-element--fixed {
    position: fixed;
}
.aura-element.aura-element--absolute--bottom {
    position: absolute;
    top: 0;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: transparent;
}

.container.container--large {
    height: 300vh;
    border-top: rem(2) solid red;
    border-bottom: rem(2) solid red;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: rem(2);
        transform: translateY(-50%);
        background-color: blue;
    }
}