.menu-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    transform-origin: center center;
    transform: rotate(-180deg);
    transition: all 1s ease;
    cursor: pointer;
    z-index: 10;
}

.main-button {
    position: absolute;
    width: 70px;
    height: 70px;
    background: black;
    border-radius: 50%;
    z-index: 10;
    transition: transform 1s ease, box-shadow 0.3s ease;
}

.menu-element {
    position: absolute;
    width: 70px;
    height: 70px;
    background: red;
    border-radius: 50%;
    transform: scale(0.5);
    transition: left .4s .3s ease, top .4s .3s ease, opacity .8s ease-out, transform .3s ease;
}

.menu-displayed .main-button {
    box-shadow: 0 4px 7px 2px rgba(0, 0, 0, 0.2);
    transition: transform 1s ease, box-shadow 0.3s 1s ease;
}

.menu-displayed .menu-element {
    transform: scale(1);
    transition: top .4s .3s ease, left .4s ease, opacity .8s ease-out, transform .3s .5s ease box-shadow .2s ease;
    &:hover {
        transform: scale(1.2);
        box-shadow: 0 4px 7px 2px rgba(0, 0, 0, 0.2);
        transition: top .4s .3s ease, left .4s ease, opacity .8s ease-out, transform .3s ease, box-shadow .2s ease;
        cursor: pointer;
    }
}

.pushed {
    transform: scale(0.5);
}

#myBackgroundCanvas {
    position: absolute;
    top: 0;
    opacity: 0.8;
}