/* * {
    cursor: none;
} */

.main-container {
    width: 100vh;
    height: 100vh;
    padding: rem(64);
}

.background-image__wrapper {
    width: 100vw;
    height: 100vh;
    clip-path: inset(0 99% 100% 0);
    overflow: hidden;
    &:hover {
    }
}

.background-image__element {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pointer-circle {
    position: absolute;
    top: calc(50% - #{rem(21)});
    left: calc(50% - #{rem(21)});
    width: rem(42);
    height: rem(42);
    background-color: transparent;
    border: rem(3) solid rgb(0, 0, 255);
    border-radius: 50%;
    will-change: transform;
    pointer-events: none;
    z-index: 9999;
}

.pointer {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(5);
    height: rem(5);
    border-radius: 50%;
    background-color: rgb(0, 0, 255);
    z-index: 9999;
}