<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="screen" rel="stylesheet" href="{{ path '/css/index.css' }}">
        <title>Preview Layout</title>
        <script>
          document.documentElement.class += ' js';
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="https://via.placeholder.com/100x100"/>
        <link rel="shortcut icon" type="image/png" href="https://via.placeholder.com/100x100"/>
    </head>
    <body>
        <div class="">
            {{{ yield }}}
        </div>
        <script src="{{ path '/js/index.js' }}"></script>
        <link media="print" rel="stylesheet" href="{{ path '/css/print.css' }}">
    </body>
</html>
