aside {
    position: absolute;
    top: 32rem;
    right: 0;
    padding: rem(48);
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: rem(20);
}
.id__table-wrapper {
    float: left;
}
.id__table-wrapper, .data-list__wrapper {
    display: inline-block;
    width: 20%;
    text-align: left;
    padding-top: rem(64);
}

.data-fips__wrapper {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    min-width: rem(127);
    margin: rem(8);
    div {
        box-sizing: border-box;
        padding: rem(18) rem(32);
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: rem(50);
        transform-origin: center;
        background-color: transparent;
        border: 1px solid rgb(0, 200, 120);
        transform: scale(1);
        transition: box-shadow .3s, transform .3s;
        pointer-events: none;
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    input[type="checkbox"]:checked ~ div {
        background-color: rgb(0, 200, 120);
    }
    &:hover, &:focus, &:active {
        div {
            background-color: rgb(0, 200, 120);
            box-shadow: 0 5px 10px 5px rgba(0, 200, 120, 0.4);
            transform: scale(1.2);
        }
    }
}

.data-list__container {
    display: inline-block;
    width: 70%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.average__container {
    p {
        display: inline-block;
    }
    li {
        margin-top: 0;
        list-style: none;
    }
}

button {
    padding: rem(18) rem(32);
    border-radius: 50px;
    border: 1px solid black;
    background-color: #000;
    transform-origin: center;
    transform: scale(1);
    font-size: rem(16);
    color: #fff;
    cursor: pointer;
    transition: transform .3s;
    transition: background-color .2s, border .2s, color .2s;
    &:hover {
        transform: scale(1.2);
    }
}