<div class="data-vue-app">
    <div class="fips__wrapper">
        <div v-for="(measure, key, index) in measures" class="data-fips__wrapper">
            <input type="checkbox" :id="key" :value="measure" v-model="selectedMeasures" v-on:change.preventDefault="prepareAverageArray">
            <label for="index" :index="index" :key="key" v-html="measure.fips"></label>
        </div>
    <button v-on:click="getAverage">Average</button>
    </div>
    <div class="id__table-wrapper">
        <h2>ID</h2>
        <p v-html="key" v-for="(id, key) in measuresIdArray"></p>
    </div>
    {{!-- <div class="data-list__container">
        <div v-for="(measure, key, index) in selectedMeasuresComputed" :key="key" class="data-list__wrapper">
            <h2 v-html="measure.fips"></h2 >
            <p v-for="(measureValue, key, index) in measure" :key="key" v-html="measureValue !== '' ? measureValue : 0"></p>
        </div>
    </div> --}}
    <aside class="average__container">
        <h2>Average</h2>
        <ul>
            <li v-if="averageArray[0].length > 0" v-for="average in averageArray">
                <strong v-html="average['id'] + ':'"></strong>
                <p v-html="average['values']"></p>
            </li>
        </ul>
    </aside>
</div>