@import "~normalize-scss";
// Silc Components
@import "silc/overrides";
@import "~silc-core/src/scss/index";
@import "~silc-grid/src/scss/index";
@import "~silc-accordion/src/scss/index";
@import "~silc-nav/src/scss/index";
@import "~silc-offcanvas/src/scss/index";
@import "~silc-utilities/src/scss/index";
// Core
@import "_core/variables";
@import "_core/base";
@import "_core/typography";
@import "_core/layout";
// Custom Components
@import "components/overrides";
@import "../components/breadcrumb/breadcrumb";
@import "../components/carousel/carousel";
@import "../components/button/button";
@import "../components/card/card";
@import "../components/hero/hero";
@import "../components/share/share";
@import "../components/table/table";
@import "../components/tags/tags";
@import "../components/blockquote/blockquote";
@import "../components/iframe/iframe";
@import "../components/modal/modal";
@import "components/homepage";
@import "components/menu";
@import "../learning/scroll/scroll-effect";
@import "../learning/maps-task/map";
@import "../learning/aura-test/scrollAura";
@import "../learning/data-processing/data-processing";
@import "../learning/program-explorer/program-explorer.scss";
@import "../learning/animation/animation";


.pointer-circle {
    position: absolute;
    top: calc(50% - #{rem(21)});
    left: calc(50% - #{rem(21)});
    width: rem(42);
    height: rem(42);
    background-color: transparent;
    border: rem(1) solid rgb(0, 0, 255);
    border-radius: 50%;
    will-change: transform;
    pointer-events: none;
    z-index: 9999;
    transition: background-color .2s, width .2s, height .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: .3s;
    &.hovering {
        background-color: rgb(0, 0, 255);
        width: rem(50);
        height: rem(50);
    }
}

.pointer {
    pointer-events: none;
    position: absolute;
    top: calc(50% - #{rem(1.5)});
    left: calc(50% - #{rem(1.5)});
    width: rem(5);
    height: rem(5);
    border-radius: 50%;
    background-color: rgb(0, 0, 255);
    z-index: 9999;
    transition: background-color .2s, width .2s, height .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: .3s;
    mix-blend-mode: difference;
    &.hovering {
        background-color: rgb(255, 255, 255);
        width: rem(10);
        height: rem(10);
        top: 50%;
        left: 50%;
    }
}