#map {
    width: 100vw;
    height: 100vh;
    background: #000;
}

.neighborhood-list__wrapper {
    position: absolute;
    top: 50%;
    left: 20%;
    width: rem(400);
    max-height: 80vh;
    padding: 2rem;
    background: #fff;
    transform: translateY(-50%) translateX(-50%);
    overflow-y: auto;
}