#scroll-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: rem(80);
    height: rem(80);
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%);
    background: #000;
    border-radius: 50%;
}

.pentagon-element {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(50);
    height: rem(50);
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%);
    background: #2196F3;
    border-radius: 50%;
}

.section {
    position: relative;
    width: 100%;
    height: rem(1200);
    border: 1px solid black;
    &:nth-child(odd) {
        height: rem(2000);
    }
}