{{!-- <div class="vue-app">
    <div id="map"></div>
    <div class="neighborhood-list__wrapper">
        <div class="neighborhood-list" v-for="(neighborhood, index, key) in neighborhoodList">
            <ul>
                <li v-html="neighborhood"></li>
            </ul>
        </div>
    </div>
</div> --}}
{{> @data-processing}}
{{!-- {{path '../map-data'}} --}}