{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<nav id="nav-main" class="nav-main" role="navigation">
				{# 		{% include "menu.twig" with {'items': menu.get_items} %} #}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
			<div class="pointer-circle" ref="pointerCircleRef"></div>
			<div class="pointer"></div>	
		</header>

		<section id="content" role="main" class="content-wrapper">
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{# {% include 'footer.twig' %} #}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
