{% extends "base.twig" %}

{% block content %}
	<div class="max-bound">
		<div class="content-wrapper">
			<div class="silc-grid silc-grid--align-center">
				<div class="silc-grid__col silc-grid__col--8">
				<h1>This are the best selling consoles</h1>
				{% for console in consoles %}
					<li>
						<h2>{{console.name}}</h2>
						<p>{{console.content}}</p>
					</li>
				{% endfor %}
				<h1>This are the best selling games ever</h1>
				{% for video_game in video_games %}
					<li>
						<h2>{{video_game.name}}</h2>
						<p>{{video_game.content}}</p>
					</li>
				{% endfor %}
				</div>
				<div class="silc-grid__col silc-grid__col--4">
					<div class="product__image" style="background-image: url({{product_image}})"></div>
				</div>
			</div>
				<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
					<section class="article-content">
						{# <h1 class="article-h1">{{post.content}}</h1>
						<div class="article-body">
						</div>
						{% for page_block in posts.get_field('page_builder') %}
							<h1>{{page_block.test_field}}</h1>
						{% endfor %} #}
					</section>
				</article>
		</div><!-- /content-wrapper -->
	</div>
{% endblock %}