{% extends "base.twig" %}

{% block content %}
<div class="silc-grid" id="vue-app">
    <div class="silc-grid__col silc-grid__col--6-800">
        <table>
            <tr>
                <th>Program Name</th>
                <th>Program Type</th>
                <th>Subject</th>
            </tr>
            <tr>
                <td>Biomedical Writing</td>
                <td>Certificate</td>
                <td>Business & Writing</td>
            </tr>
            <tr>
                <td>Cannabis Program Lorem</td>
                <td>Master's</td>
                <td>Healthcare</td>
            </tr>
            <tr>
                <td>Data Science</td>
                <td>Certificate</td>
                <td>Computer Science</td>
            </tr>
            <tr>
                <td>Genomics</td>
                <td>Master's</td>
                <td>Laboratory Sciences</td>
            </tr>
            <tr>
                <td>Genomics</td>
                <td>Certificate</td>
                <td>Laboratory Sciences</td>
            </tr>
            <tr>
                <td>Health Administration</td>
                <td>Master's</td>
                <td>Healthcare</td>
            </tr>
            <tr>
                <td>Health Administration</td>
                <td>Certificate</td>
                <td>Healthcare</td>
            </tr>
            <tr>
                <td>Health Informatics</td>
                <td>Master's</td>
                <td>Computer Sciences</td>
            </tr>
            <tr>
                <td>Health Informatics</td>
                <td>Certificate</td>
                <td>Healthcare</td>
            </tr>
            <tr>
                <td>Pharmaceutical and Healthcare Business</td>
                <td>Certificate</td>
                <td>Laboratory Sciences</td>
            </tr>
        </table>
    </div>
    {# <div class="silc-grid__col silc-grid__col--6-800">
        <pre id="json"></pre>
    </div> #}
</div>
{% endblock %}