{% extends "base.twig" %}

{% block content %}
    <div class="color__vue-app">
    <select v-model="colorsArray">
        <option selected>Select a Value</option>
        <option v-for="(option, key, index) in valuesForSelect['1']" :key="key" :value="option" :selected="key" v-html="option"></option>
    </select>
    <select v-model="colorsArray">
        <option selected>Select a Value</option>
        <option v-for="option in valuesForSelect['2']" :value="option" v-html="option"></option>
    </select>
        <div class="max-color"></div>
        <div class="min-color"></div>
    </div>
{% endblock %}