{% extends "base.twig" %}

{% block content %}
<div id="scroll-container">
 <div class="pentagon-element"></div>
 <div class="pentagon-element"></div>
 <div class="pentagon-element"></div>
 <div class="pentagon-element"></div>
 <div class="pentagon-element"></div>
</div>

<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
{% endblock %}