{% extends "base.twig" %}

{% block content %}
    <div class="data-vue-app">
        <div class="fips__wrapper">
            <div v-for="(measure, key, index) in rawMeasuresData" class="data-fips__wrapper">
                <input type="checkbox" :id="key" :value="measure" ref="key" v-model="selectedMeasures" v-on:change="prepareAverageArray">
                <div>
                    <label for="key" :index="index" :key="key" v-html="measure.fips"></label>
                </div>
            </div>
        <button v-on:click="calculateAverage">Calculate</button>
        <button v-on:click="selectAll">Select All</button>
        </div>
        <div class="id__table-wrapper">
            <h2>ID</h2>
            <p v-html="key" v-for="(id, key) in baseObject"></p>
        </div>
        <div class="data-list__container">
            <div v-for="(measure, key, index) in selectedMeasuresComputed" :key="key" class="data-list__wrapper">
                <h2 v-html="measure.fips"></h2 >
                <p v-for="(measureValue, key, index) in measure" :key="key" v-html="measureValue !== '' ? measureValue : 'No data'"></p>
            </div>
        </div>
        <aside class="average__container">
            <h2>Average</h2>
            <ul>
                <li v-for="(average, key, index) in measuresFullObj" :key="key">
                    <strong v-html="key + ':'"></strong>
                    <p v-html="average.average ? average.average : 'No data'"></p>
                </li>
            </ul>
        </aside>
    </div>
{% endblock %}