{% extends "base.twig" %}

{% block content %}
    <div class="data-vue-app">
        <div class="silc-grid silc-grid--justify-center silc-grid--align-center">
        {% for project in personal %}
            <div class="silc-grid__col silc-grid__col--4-800">
                <a href="{{project.project_url}}" class="project-card__wrapper">
                    <div class="project__image" style="background-image: url({{project.get_field('project_image').url}})"></div>
                </a>
                <div class="project__name">{{project.name}}</div>
            </div>
        {% endfor %}
        </div>
    </div>
{#     <div class="silc-grid">
        <div class="silc-grid__col silc-grid__col--4-800">
            <div class="project-holder">
                {% include "page-proximity.twig" %}
            </div>
        </div>
        <div class="silc-grid__col silc-grid__col--4-800">
            <div class="project-holder">
                {% include "page-cursor.twig" %}
            </div>
        </div>
        <div class="silc-grid__col silc-grid__col--4-800">
            <div class="project-holder">
                {% include "page-data.twig" %}
            </div>
        </div>
        <div class="silc-grid__col silc-grid__col--4-800">
            <div class="project-holder">
                {% include "page-radial-menu.twig" %}
            </div>
        </div>
        <div class="silc-grid__col silc-grid__col--4-800">
            <div class="project-holder">
                {% include "page-scroll.twig" %}
            </div>
        </div>
    </div> #}
{% endblock %}