{% extends "base.twig" %}

{% block content %}
<div class="animation-vue-app">
    <div class="background-image__wrapper" ref="backgroundWrapperRef">
        <div class="background-image__element" style="backgroundImage: url('https://rtvc-assets-radionica3.s3.amazonaws.com/s3fs-public/styles/image_750x424/public/field/image/article/once_deadpool_.jpg?itok=z79awxdp')"></div>
    </div>
</div>
{% endblock %}