<template>
  <div class="program-component">
    <table class="table__program-explorer">
      <tr>
        <th v-for="(item, key, index) in headings" @click="index == 0 ? desc = !desc : ''" :key="key" :index="index">{{item}}</th>
      </tr>
      <tr v-for="(item, key, index) in sortedArray" :key="key" :index="index">
        <td v-for="(cell, key, index) in item" :index="index" :key="key">{{cell}}</td>
        <p>{{sortedArray[0]['Program Name']}}</p>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
export default {
  data: function() {
    return {
      dataHeadings: this.$props.headings,
      dataJSON: this.$props.data,
      dataJSONReversed: [],
      desc: false,
    }
  },
  props: ['data', 'headings'],
  methods: {
    updateSortOrder() {
      this.desc = !this.desc;
    }
  },
  mounted() {
    console.log(this.headings);
  },
  computed: {
    sortedArray() {
      this.dataJSONReversed = [...this.dataJSON]
      this.dataJSONReversed.reverse();
      return !this.desc ? this.dataJSON : this.dataJSONReversed;
    } 
  }
};
</script>

<style lang="scss">
.example-component {
  padding: 1rem;
  background: #0000;
}
</style>
