.max-bound {
    width: 100%;
    max-width: rem(1400);
    margin: 0 auto;
    background-color: #fff;
}

.outer-pad {
    padding: rem(48) rem(16);
    @include media('550') {
        padding: rem(48) rem(32);
    }
    @include media('800') {
        padding: rem(48) rem(64);
    }
}

.silc-position--relative {
    position: relative;
}

#myCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    background: #fff;
}

#cursor_canvas {
    background: black;
}

body {
    max-width: 100vw;
}

#hidden-scroll__marker {
    position: fixed;
    top: 0;
    width: 100vw;
    height: rem(50);
    border: 1px solid black;
}

.project-card__wrapper {
    display: block;
    width: 70%;
    height: 0;
    padding-bottom: 70%;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    background-color: transparent;
    overflow: hidden;
}

.project__image {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}