.main-container {
    width: 100vh;
    height: 100vh;
    padding: rem(64);
}

.background-image__wrapper {
    width: 5px;
    height: 0px;
    overflow: hidden;
}

.background-image__element {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}